.page{
	display: flex;
	position:absolute;
	height: calc(100% - 150px);

}

.containerEsterno{
	width: 70vw !important;
}

.mycontainer{
	height: 90%;
	padding-left: 30px;
	margin-left: 30px;
	border: 2px solid black;
	margin-top: 30px;
	min-width: 600px;
	background-color: white;
	border-radius: 10px;
	display: flex;
}


.asideBar{
	width: 300px;
	height: 90%;
	margin: 30px 10px 0px 0px;
	border: 2px solid black;
	border-radius: 5px;
}

.containerMargin{
	margin: 50px;
}

.rightContent{
	width: 400px;
	margin: 50px;
}

.buttonMargin{
	margin: 50px;
}
