nav{
  width: 200px;
  min-width: 100px;
  height: 100%;
  background-color: #b6d1e2;  
}

ul.sidebar-nav{	
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #b6d1e2;
}

ul.sidebar-nav a{
	 color: #333333;
}

aside{
	margin-top: 6%;
}
